<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Songfy</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="index-container">
    <h1 class="title">SONGFY</h1>
    <div id="playlistContainer" class="playlist-container">
        <p>Insert the link to a Spotify's playlist to play with its songs
            or leave it empty to use default set</p>
        <input id="playlist-input" placeholder="Insert Spotify's playlist link here">
        <label for="playlist-input">
            <button id="start-game-btn" class="primary-button">
                Start Game
            </button>
        </label>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>