<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Songfy</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div id="embed-iframe"></div>
<!--<div id="playlistContainer" class="playlist-container">-->
<!--    <h1 class="title">SONGFY</h1>-->
<!--    <p>Insert the link to a Spotify's playlist to play with its songs-->
<!--    or leave it empty to use default set</p>-->
<!--    <input id="playlist-input" placeholder="Insert Spotify's playlist link here">-->
<!--    <label for="playlist-input">-->
<!--        <button id="get-songs-btn" class="primary-button">-->
<!--            Get Songs-->
<!--        </button>-->
<!--    </label>-->
<!--</div>-->
<div id="gameContainer" class="game-container">
    <div id="buttonContainer" class="button-container">
        <button id="playBtn" class="primary-button main-button">Play</button>
        <button id="nextBtn" class="secondary-button next-button">></button>
    </div>
    <div id="infoContainer" hidden>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox" id="songNameCheckbox"/>
                <span class="checkmark"></span>
                <span class="checkbox-label-text">Name: <span id="nameSpan"></span></span>
            </label>
        </div>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox" id="artistsCheckbox"/>
                <span class="checkmark"></span>
                <span class="checkbox-label-text">Artists: <span id="artistsSpan"></span></span>
            </label>
        </div>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox" id="releaseDateCheckbox"/>
                <span class="checkmark"></span>
                <span class="checkbox-label-text">Release Date: <span id="releaseSpan"></span></span>
            </label>
        </div>
        <button class="primary-button" id="confirmButton">Confirm</button>
    </div>
    <div class="players-container">
        <div class="add-player-container">
            <input id="add-player-input" maxlength="11" placeholder="Add new player">
            <label for="add-player-input">
                <button id="add-player-btn">+</button>
            </label>
        </div>
    </div>
</div>

<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
<script src="../static/scripts.js"></script>
</body>
</html>