<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songfy</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div id="embed-iframe"></div>
<div class="main-container" hidden>
    <div id="buttonContainer" class="button-container">
        <button id="playBtn" class="button primary-button main-button">Play</button>
        <button id="nextBtn" class="button secondary-button">></button>
    </div>
    <div id="infoContainer" hidden>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox" id="songNameCheckbox"/>
                <span class="checkmark"></span>
                <span class="checkbox-label-text">Name: <span id="nameSpan"></span></span>
            </label>
        </div>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox" id="artistsCheckbox"/>
                <span class="checkmark"></span>
                <span class="checkbox-label-text">Artists: <span id="artistsSpan"></span></span>
            </label>
        </div>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox" id="releaseDateCheckbox"/>
                <span class="checkmark"></span>
                <span class="checkbox-label-text">Release Date: <span id="releaseSpan"></span></span>
            </label>
        </div>
        <button class="button primary-button" id="confirmButton">Confirm</button>
    </div>
    <div class="players-container">
        <div class="add-player-container">
            <input id="add-player-input" maxlength="11" placeholder="Add new player">
            <label for="add-player-input">
                <button id="add-player-btn">+</button>
            </label>
        </div>
    </div>
</div>

<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
</body>
</html>